@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<my_movies.ViewModels.HomePageModel>
@{
    Layout = "_Layout";
}
<style>
    h3{
        padding: 10px 5px;
        /*color: white;*/
    }
</style>
    <h3>All genres</h3>
<div class="multiple-items">
    @foreach (var movie in Model)
    {
        <div class="imgContainer hvr-float-shadow">
            <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                <img src="@movie.ImageUrl" class="card-img-top" alt="...">
            </a>
        </div>
    }
</div>
<br />

    <h3>Drama</h3>
<div class="multiple-items">
    @foreach (var movie in Model)
    {
        if (movie.Genre.Contains("Drama"))
        {
            <div class="imgContainer hvr-float-shadow">
                <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                    <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                </a>
            </div>
        }
    }
</div>
<br />

    <h3>Action</h3>
<div class="multiple-items">
    @foreach (var movie in Model)
    {
        if (movie.Genre.Contains("Action"))
        {
            <div class="imgContainer hvr-float-shadow">
                <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                    <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                </a>
            </div>
        }
    }
</div>
<br />

    <h3>Crime</h3>
<div class="multiple-items">
    @foreach (var movie in Model)
    {
        if (movie.Genre.Contains("Crime"))
        {
            <div class="imgContainer hvr-float-shadow">
                <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                    <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                </a>
            </div>
        }
    }
</div>

@*<div class="homeContainer">
        @foreach (var movie in Model)
        {
            if (movie.IsApproved)
            {
                <div class="card cardCustom" style="width: 13rem;">
                    <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <div class="cardText">
                            <p class="card-text">@movie.Description</p>...
                        </div>
                        <div class="cardBtn">
                            <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id" class="btn-sm btn-primary">See more</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>*@