@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model my_movies.ViewModels.HomePageDataModel
@{
    Layout = "_Layout";
}

<div>
    <partial name="SidebarPartial" for="SidebarData"/>
</div>

<style>
    h3 {
        width: 100%;
        text-align: center;
    }
</style>
<h3>All genres</h3>
<div class="multiple-items">

    @foreach (var movie in Model.Movies)
    {
        if (movie.IsApproved)
        {
            <div class="imgContainer hvr-grow">
                <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                    <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                </a>
            </div>
        }
    }
</div>
<br />

<h3>Drama</h3>
<div class="multiple-items">
    @foreach (var movie in Model.Movies)
    {
        if (movie.IsApproved)
        {
            if (movie.Genre.Contains("Drama"))
            {
                <div class="imgContainer hvr-grow">
                    <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                        <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                    </a>
                </div>
            }
        }
    }
</div>
<br />

<h3>Action</h3>
<div class="multiple-items">
    @foreach (var movie in Model.Movies)
    {
        if (movie.IsApproved)
        {
            if (movie.Genre.Contains("Action"))
            {
                <div class="imgContainer hvr-grow">
                    <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                        <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                    </a>
                </div>
            }
        }
    }
</div>
<br />

<h3>Crime</h3>
<div class="multiple-items">
    @foreach (var movie in Model.Movies)
    {
        if (movie.IsApproved)
        {
            if (movie.Genre.Contains("Crime"))
            {
                <div class="imgContainer hvr-grow">
                    <a asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                        <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                    </a>
                </div>
            }
        }
    }
</div>
