@model my_movies.ViewModels.MovieDetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    foreach (var item in Model.Comments)
    {
        if (item.Username == "developer")
        {
            item.Username = "Admin";
        }
    }
}

<div class="container" style="display: flex !important;">
    <div id="movieDetailsImageContainer">
        <img src="@Model.ImageUrl" />
    </div>
    <div id="movieDetailsInfoContainer">
        <h2>@Model.Title</h2>
        <h5>Description</h5>
        <p>@Model.Description</p>
        <h5>Cast</h5>
        <p>@Model.Cast</p>
        <br />
        <p>Duration @Model.Duration min</p>
        <p>Views: @Model.Views</p>
        <p>Date created: @Model.DateCreated</p>
    </div>
</div>

<div class="container" style="padding: 30px">
    <h3>Comment section:</h3>
    @if (User.Identity.IsAuthenticated)
    {
        <br />
        <form style="display: flex" asp-controller="Comment" asp-action="AddComment">
            <input id="movieId" name="movieId" value="@Model.Id" hidden/>
            <input class="form-inline" placeholder="Enter a comment" id="comment" name="comment"/>
            <input type="submit" class="btn btn-outline-dark" style="margin-left: 5px;" />
        </form>
        <br />
    }
    <div>
        @if (Model.Comments.Count == 0)
        {
            <p>No comments yet</p>
        }
        @foreach (var comment in Model.Comments)
        {
    <div style="border-bottom: 1px solid rgb(255, 255, 255); padding: 20px;">
        <p>By: <b> @comment.Username</b></p>
        <span>Comment:</span>
        <p style="margin-left: 8px">@comment.Comment</p>
        <span>Posted on: @comment.DateCreated</span>
        @if (User.Identity.IsAuthenticated && User.FindFirst("Role").Value == "admin")
        {
            <br />
            <a href="#">Delete</a>
        }
        @if (User.Identity.IsAuthenticated && User.FindFirst("Role").Value != "admin")
        {
            <br />
            <a href="#">Report</a>
        }
    </div>
        }
    </div>
</div>
