@model my_movies.ViewModels.MovieDetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    foreach (var item in Model.Comments)
    {
        if (item.Username == "developer")
        {
            item.Username = "Admin";
        }
    }
}
@section Styles{ 
    <link rel="stylesheet" href="~/css/movieLikes.css" />
}

@*Sidebar*@
<div>
    <partial name="SidebarPartial" for="SidebarData" />
</div>
@*Sidebar*@

<div class="container" id="movieDetailContainer" style="display: flex !important;">
    <div id="movieDetailsImageContainer">
        <img src="@Model.ImageUrl" />
    </div>
    <div id="movieDetailsInfoContainer">
        <h2>@Model.Title</h2>
        <h5>Description</h5>
        <p>@Model.Description</p>
        <h5>Cast</h5>
        <p>@Model.Cast</p>
        <br />
        <p>Duration @Model.Duration min</p>
        <p>Views: @Model.Views</p>
        <p>Date created: @Model.DateCreated</p>
    </div>
</div>

<div class="container" style="padding: 30px">

    <div id="likeCountContainer">
        <p>Likes: <span id="likesCount">@Model.Likes.Where(x => x.IsLiked == true).Count()</span></p>
        <p>Dislikes: <span id="dislikesCount">@Model.Likes.Where(x => x.IsLiked == false).Count()</span></p>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.LikeStatus == my_movies.ViewModels.LikeModels.LikeStatus.None)
        {
            <div id="likeBtnContainer">
                <button id="addLikeBtn" class="btn btn-outline-success" onclick="AddLike(@Model.Id)">Like</button>
                <button id="likedBtn" class="btn btn-success hideBtn" disabled>Liked</button>
                <button id="addDislikeBtn" class="btn btn-outline-danger" onclick="AddDislike(@Model.Id)">Dislike</button>
                <button id="dislikedBtn" class="btn btn-danger hideBtn" disabled>Disliked</button>
            </div>
        }
        else if (Model.LikeStatus == my_movies.ViewModels.LikeModels.LikeStatus.Liked)
        {
            <div id="likeBtnContainer">
                <button id="addLikeBtn" class="btn btn-outline-success hideBtn" onclick="AddLike(@Model.Id)">Like</button>
                <button id="likedBtn" class="btn btn-success" disabled>Liked</button>
                <button id="addDislikeBtn" class="btn btn-outline-danger" onclick="AddDislike(@Model.Id)">Dislike</button>
                <button id="dislikedBtn" class="btn btn-danger hideBtn" disabled>Disliked</button>
            </div>
        }
        else if (Model.LikeStatus == my_movies.ViewModels.LikeModels.LikeStatus.Disliked)
        {
            <div id="likeBtnContainer">
                <button id="addLikeBtn" class="btn btn-outline-success" onclick="AddLike(@Model.Id)">Like</button>
                <button id="likedBtn" class="btn btn-success hideBtn" disabled>Liked</button>
                <button id="addDislikeBtn" class="btn btn-outline-danger hideBtn" onclick="AddDislike(@Model.Id)">Dislike</button>
                <button id="dislikedBtn" class="btn btn-danger" disabled>Disliked</button>
            </div>
        }
    }

    <hr />
    <h3>Comment section:</h3>
    @if (User.Identity.IsAuthenticated)
    {
        <br />
        <form style="display: flex" asp-controller="Comment" asp-action="AddForApproval">
            <input id="movieId" name="movieId" value="@Model.Id" hidden />
            <input class="form-inline" placeholder="Enter a comment" id="comment" name="comment" />
            <input type="submit" class="btn btn-outline-dark" style="margin-left: 5px;" />
        </form>
        <br />
    }
    <div>
        @if (Model.Comments.Count == 0)
        {
            <p>No comments yet</p>
        }
        @foreach (var comment in Model.Comments)
        {
            if (comment.IsApproved)
            {
                <div style="border-bottom: 1px solid rgb(255, 255, 255); padding: 20px;">
                    <p>By: <b> @comment.Username</b></p>
                    <span>Comment:</span>
                    <p style="margin-left: 8px">@comment.Comment</p>
                    <span>Posted on: @comment.DateCreated</span>
                    @if (User.Identity.IsAuthenticated && User.FindFirst("Role").Value == "admin")
                    {
                        <br />
                        <a asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Id">Delete</a>
                    }
                    @if (User.Identity.IsAuthenticated && User.FindFirst("Role").Value != "admin")
                    {
                        <br />
                        <a href="#">Report</a>
                    }
                </div>
            }
        }
    </div>
</div>
@section Scripts{ 
    <script src="~/js/movieLikes.js"></script>
    <script src="~/lib/axios/axios.js"></script>
}