@model my_movies.Service.DTO.SidebarData
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div id="sidebar">
    <header id="sidebarHeader">Categories</header>
    <div class="navbar">
        <div class="nav-item dropdown  text-light">
            <a class="nav-link dropdown-toggle  text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recently added
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @foreach (var movie in Model.RecentlyAdded)
                {
                    <a class="dropdown-item" asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                        <h5>@movie.Title</h5>
                        <div>Views: @movie.Views</div>
                        <div>Date posted: @movie.DateCreated</div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="nav-item dropdown  text-light">
            <a class="nav-link dropdown-toggle  text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Most views
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @foreach (var movie in Model.MostViews)
                {
                    <a class="dropdown-item" asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                        <h5>@movie.Title</h5>
                        <div>Views: @movie.Views</div>
                        <div>Date posted: @movie.DateCreated</div>
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="nav-item dropdown  text-light">
            <a class="nav-link dropdown-toggle  text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Most comments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @foreach (var movie in Model.MostCommented)
                {
                    <a class="dropdown-item" asp-controller="Home" asp-action="MovieDetails" asp-route-id="@movie.Id">
                        <h5>@movie.Title</h5>
                        <div>Comments: @movie.NoOfComments</div>
                        <div>Date posted: @movie.DateCreated</div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>
